<html>
  <body>
    <h1>Loan Detail - {{ loan.title }}</h1>
    <p>Student Loans have three categories of transaction: withdrawals, dated repayments, and distributed repayments.</p>
    
    <h2>Record a new transaction</h2>
    <form action="/addtransaction" method="post">
      <div><input type="hidden" name="loanKey" value="{{ loan.key }}"/></div>
      <div><input type="text" name="date"/></div>
      <div><input type="text" name="amount"/></div>
      <div><input type="text" name="type"/></div>
      <div><input type="submit" value="Record Transaction"/></div>
    </form>

    <h2>Withdrawals</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
      {% for transaction in loan.withdrawals.transactions %}
        <tr>
          <td>{{ transaction.date|escape }}</td>
          <td>{{ transaction.amount|escape }}</td>
          <td>
            <form action="/edittransaction" method="get">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Edit"/></div>
            </form>
            <form action="/deletetransaction" method="post">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Delete"/></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    
    <h2>Dated Repayments</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
      {% for transaction in loan.datedRepayments.transactions %}
        <tr>
          <td>{{ transaction.date|escape }}</td>
          <td>{{ transaction.amount|escape }}</td>
          <td>
            <form action="/edittransaction" method="get">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Edit"/></div>
            </form>
            <form action="/deletetransaction" method="post">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Delete"/></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    
    <h2>Distributed Repayments</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
      {% for transaction in loan.distributedRepayments.transactions %}
        <tr>
          <td>{{ transaction.date|escape }}</td>
          <td>{{ transaction.amount|escape }}</td>
          <td>
            <form action="/edittransaction" method="get">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Edit"/></div>
            </form>
            <form action="/deletetransaction" method="post">
              <div><input type="hidden" name="transactionKey" value="{{ transaction.key }}"/></div>
              <div><input type="submit" value="Delete"/></div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>